In [1]:
import pandas

In [2]:
db=pandas.read_csv('marks.csv')

In [3]:
db.columns

Index(['name', 'hrs', 'marks'], dtype='object')

In [4]:
db

    name  hrs  marks
0  rahul    8     80
1   eric    5     50
2    raj    3     30
3  krish    4     40
4    tom    2     20

In [5]:
y=db['marks']

In [6]:
x=db['hrs']

In [7]:
type(x)

pandas.core.series.Series

In [8]:
type(y)

pandas.core.series.Series

In [9]:
type(db)

pandas.core.frame.DataFrame

In [10]:
x

0    8
1    5
2    3
3    4
4    2
Name: hrs, dtype: int64

In [19]:
x=x.values.reshape(5,1)

In [20]:
x.shape

(5, 1)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
mind=LinearRegression()

In [23]:
mind.fit(x,y)

LinearRegression()

In [24]:
mind.predict([[6]])

array([60.])

In [25]:
import joblib

In [26]:
joblib.dump(mind,'marks.pk1')

['marks.pk1']